h1{
    color: orangered;
    text-align: center;
    font-size: 100px;
}
body{
    background-image:url(https://cdn.pixabay.com/photo/2018/02/03/17/45/transport-system-3128152_960_720.jpg) ;
    background-size: cover;
}